# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Languages in date science
* libraries in data science
* arithmetic expression in python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. caffe

Some of the commonly used libraries used by Data Scientists include:

1. ggplot from R
2. pandas from Python
3. matplotlib from Python
4. Leaflet from R

|Data Science |
|:-----|
|Jupyter Notebook |
|Apache Zeppelin |
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.
2 + 3
= 5
---
* * *
4 - 1
= 3
---
* * *
5 * 2
= 10
---
* * *
10 / 2
= 5.0

In [4]:
#  This will convert 200 minutes to hours by diving by 60
x = 200;
y = (x/60);
print(y);

3.3333333333333335

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Author
Beka Fekadu